{% load django_vite %} {% load sekizai_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>VAR_APP_NAME</title>
    <meta name="description" content="VAR_DESCRIPTION" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% vite_hmr_client %} {% vite_asset 'src/main.tsx' %} {% render_block "css"%}
  </head>
  <body>
    <div id="root"></div>

    {% render_block "js" %}
  </body>
</html>
